body {
    margin: 0;
}

.header {
    height: 150px;
    position: relative;
}

.header:before{
    content: "...";
    width: 100%;
    height 10px;
    background: orange;
    position: absolute;
    left: 0;
    top: 70px;
}

.header .logo-box {
    display: block;
    margin: auto;
    width: 100px;
}

.header .logo {
    width: 100px;
}

.header .teasing {
    position: relative;
    top: 100px;
}

.header .main-nav {
    position: absolute;
    top: 100px;
}

.header .main-nav > li {
    display: inline-block;
    border: 1px solid black;
    margin-right: 1em;
    padding: .25em 1em;
}

.header .social-links {
    position: absolute;
    right: 0;
    top: 25px;
}

.content {
    position: relative;
    height: 100%;
}

.content .big-picture {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.big-picture1{
    background-image: url("../img/photobck01.jpg");
}
.big-picture2{
    background-image: url("../img/photobck02.jpg");
}
.big-picture3{
    background-image: url("../img/photobck03.jpg");
}
.big-picture4{
    background-image: url("../img/photobck04.jpg");
}
.big-picture5{
    background-image: url("../img/photobck05.jpg");
}
.big-picture6{
    background-image: url("../img/photobck06.jpg");
}
.big-picture7{
    background-image: url("../img/photobck07.jpg");
}
.big-picture8{
    background-image: url("../img/photobck08.jpg");
}
.big-picture9{
    background-image: url("../img/photobck09.jpg");
}
.big-picture10{
    background-image: url("../img/photobck10.jpg");
}

.content .prev-btn {
    position: absolute;
    left: 0;
    top: 100px;
}

.content .next-btn {
    position: absolute;
    right: 0;
    top: 100px;
}

.content .bullet-points-nav {
    position: absolute;
    top: 100px;
}

.info-box {
    background: rgba(0,0,0,.5);
    color: white;
    display: none;
    padding: 1em;
    z-index: 1;
}

@media screen and (max-width: 640px) {
    .info-box {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 641px) {
    .info-box {
        position: absolute;
        left: 50%;
        top: 0;
        width: 400px;
        height: 100%;
    }
}

.info-box > h2 {
    color: inherit;
}

.info-box label {
    color: white;
}

.info-box textarea {
    resize: vertical;
}