.header
  a.logo-box(href= pageId + ".html")
    img.logo(src="img/nun-logo-n&b-250.png")
  ul.main-nav
    li.main-nav-btn.about-us-btn
      span.main-nav-btn-txt About us
    li.main-nav-btn.products-btn
      span.main-nav-btn-txt Products
    li.main-nav-btn.store-btn
      span.main-nav-btn-txt Store
    li.main-nav-btn.contact-btn
      span.main-nav-btn-txt Contact
    li.main-nav-btn.press-btn
      span.main-nav-btn-txt Press
