extends ./_layout.jade

block pageId
  - var pageId = "home"

block content
  .content
    img.logo(src="img/nun-logo-n&b-300.png")
    a.rollerskate(href="/rollerskate")
      p.title Roller skate
    a.skateboard(href="/skateboard")
      p.title Skateboard
