extends ./_layout.jade

block pageId
  - var pageId = "home"

block content
  .content
    img.logo(src="img/nun-logo-n&b-500.png")
    a.rollerskate(href="/rollerskates.html")
      p.title Roller skate
    a.skateboard(href="/skateboards.html")
      p.title Skateboard
