extends ./_layout.jade

block title
  | Rollerskates

block pageId
  - var pageId = "rollerskates"

block content
  include ./_menu.jade
  .content

    .big-picture

    .teasing-box
      p.teasing-txt Taking customization to the next level
      hr.teasing-hr
      p.teasing-txt Coming in 2015

    .info-box.about-us-box
      h2 About us
      p.info-box-catch-txt NUN - NON UNIVERSAL NUTS<br/>TAKING CUSTOMIZATION TO THE NEXT LEVEL
      p After years of practicing action sports, at NUN we understood that it's not only doing the best trick, it's reading your spot to find a DIFFERENT way to ride it, a BETTER way to ride it.
      p DIFFERENT IS WHAT WE ARE
      p We are looking for riding different and better everyday. What about my snowboard, my skateboard or my skates? At NUN we want our stuff to look as we ride: different and better. Because it’s not enough to match caps and shoes we have developed specific screws with a lot of design and graphics in order to be different and look better.
      p Our first product designed for Longboards, Cruisers and Roller Skates receives positive feedback daily from shops, skaters and roller derby teams who are really excited about having in their hands a good looking, great and innovative product. At NUN, being supported by people who share our passion encourage us to offer you the best product in 2015.
      p Stay tuned, Philippe

    .info-box-large-wrapper
      .info-box-large.products-box
          h2 Products
          p
            a(href="#features") Product Features | 
            a(href="#standard") Standard NUN | 
            a(href="#marketing") NUN for Marketing | 
            a(href="#derby-team-pack") Derby team pack 
          p#features
            img(src="img/products-roller-slice-01.jpg")
          p#standard
            img(src="img/products-roller-slice-02.jpg")
          p#marketing
            img(src="img/products-roller-slice-03.jpg")
          p#derby-team-pack
            | DERBY TEAM PACK
          p
            | NUN fully support Roller Derby and want teams to increase their income and have a unique feature to represent their team. So we have created a special Derby Team offer. Stay tuned!

    .info-box.contact-box
      h2 Contact
      .social-links
        a(href="http://www.facebook.com/NUNrollerskates", title="Facebook", target="_blank")
          img.social-link.facebook-btn(src="img/facebook-btn.png")
        a(href="https://twitter.com/NUN_RollerSkate", title="Twitter", target="_blank")
          img.social-link.twitter-btn(src="img/twitter-btn.png")
        a(href="http://instagram.com/nun_rollerskates/", title="Instagram", target="_blank")
          img.social-link.instagram-btn(src="img/instagram-btn.png")
      form#contact-form.contact-form(action="javascript:void(0);")
        label(for="contact-form-interest") Interesting in
        select(id="contact-form-interest", name="contact-form-interest", required)
          option 
          option General informations
          option Standard NUN
          option Customized NUN
        label(for="contact-form-areyou") Are you?
        select(id="contact-form-areyou", name="contact-form-areyou", required)
          option 
          option Retailer
          option Distributor
          option Manufacturer
          option Private person
          option Derby Team
          option Other
        label(for="contact-form-email") Email
        input#contact-form-email(type="email", placeholder="xxx@xxxx.xxx", required)
        label(for="contact-form-subject") Subject
        input#contact-form-subject(type="text", required)
        label(for="contact-form-message") Message
        textarea#contact-form-message(rows="6", required)
        input#contact-form-send(value="Send", name="send", type="submit")

    .info-box.press-box
      h2 Press
      ul
        li
          | First interview in RollerQuad.net, a French website specialized in Roller Skate and Roller Quad<br/>
          a(href="http://www.rollerquad.net/philippe-maigret-fondateur-de-nun", target="_blank") Read the article on RollerQuad.net

    button.change-img-btn.prev-btn(onclick="bigPicture.prev();") Prev
    button.change-img-btn.next-btn(onclick="bigPicture.next();") Next
    ul.bullet-points-nav

block scriptConfig
  script(src="js/config-rollerskates.js")
